
.emart{
    margin-left: 27%;
    border-radius: 0px;
    margin-right: 50%;
    border: 1.5px solid black;
    font-size: 1.2vw;
    font-family: 'Times New Roman', Times, serif;
}

.search-control{
    margin-left: 2%;
    border: rgb(104, 102, 102);
}

.emart-navbar{
    background-color: white !important;
    margin-top: 3%;
}

.search-btn{
    margin-left: 24%;
}

.icon{
    margin-right: 8%;
}

.icon-user{
    margin-left: -18%;
}


/* ///////////////// MenuBar Page ///////////////////// */

.menu-navbar{
    background-color: white !important;
    margin-right: 29%;
    margin-left: 29%;
}

.menus{
    color: black;
    font-size: 1.2vw;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: 'Roboto Slab', serif;

}


/* ///////  Slider  //////////// */

.image-slide{
    margin-top: 2%;
    width: 100%;
    height: 80%;
}

/* /////////// Shipping ///////// */

.truck-icon{
    width: 18% !important;
    height: auto;
    color: rgb(32, 78, 163);
    transform: scaleX(-1);
    /* margin-left: -40%; */
    margin-top: 5%;
}

.support-icon{
    width: 18% !important;
    height: auto;
    color: rgb(32, 78, 163);
    /* transform: scaleX(-1); */
    /* margin-left: -37%; */
    margin-top: 5%;
}

.row-cols-3 > *{
    max-width: 27%;
}
.h6-tag{
    font-size: 1.2vw;
    margin-left: 25%;
    margin-top: -30.5%;
}

.card{
    margin-right: -2%;
    /* width: 15%; */
    border: 0ch;
    margin-left: 6%;
}

.ptag{
    font-size: 1.1vw;
    text-align: justify;
    margin-left: 25%;
    margin-top: 0%;
    margin-bottom: 25%;

}

.row-div{
    margin-left: 2%;
    margin-right: 2%;
}

/* /////////// Modal /////// */

.submit-button{
    height: 38px;
    width: 120px;
    border-radius: 1px;
    margin-top: 10px;
    background-color: rgba(8, 8, 117, 0.856);
    /* margin-left: 12%; */
}

.div1{
    /* background-color: rgb(253, 253, 253); */
    margin-left: -.2%;
    margin-top: -1.8%;
    margin-bottom: -12.8%;

}

.MuiFormControl-root{
    width: 220%;
}

.row-cols-2>*{
    max-width: 32%;
}

.div2{
    background-color: red;
}

.header{
    margin-left: 3%;
    font-family: 'Times New Roman', Times, serif;
}

.row{
    margin-bottom: 5%;
}

.logo-img{
    margin-top: 35%;
    margin-left: -16%;
}

.logo-img-r{
    margin-top: 110%;
    margin-left: -16%;
}

/* /////////////////////////////// */

/* .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  } */
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: -20%;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #cecbcb;
    width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-right: 30%;
  }
  
  .dropdown-content a {
    /* color: black; */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* .dropdown-content a:hover {background-color: #ddd;} */
  
  .dropdown:hover .dropdown-content {display: block;}
  
  /* .dropdown:hover .dropbtn {background-color: #3e8e41;} */
  
 .drop-btn{
     border-radius: 0px;
     width: 100%;
 }

 /* ////////////////// In Login Modal ////////// */

 .rmodal{
     margin-left: 20%;

 }

 /* /////////////////// collectoin-img ///////////// */

 .collectoin-img{
     height: 90%;
     width: 70%;
     margin-left: 55%;
     border: 1px solid rgb(1, 1, 14);

     transition: all 1s ease;
     cursor: pointer;
    
 }
 .collectoin-img:hover{
    transform: scale(1.1);
    border: 2px solid rgb(1, 1, 14)
   
}
 .men{
     font-size: 2vw;
    margin-left: 57%;
    margin-top: -21%;
    color: rgb(255, 255, 255);
    font-family: 'Dancing Script', cursive;

 }

 .collection{
     font-size: 1.4vw;
    margin-left: 58%;
    margin-top: -1%;
    color: rgb(255, 255, 255);
    font-family: 'Dancing Script', cursive;

 }

 /* //////////// Featured ///////////// */

 .feature-div{
    background-color: rgb(240, 238, 238);
    height: 30%;
 }

 .main-div{
     height: 10%;
 }

 .feature-div2{
    margin-bottom: 5%;
 }

.h4-div{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
}

.card-img{
    height: 70%;
    width: 60%;
    /* display: block; */
    /* margin-left: 35%; */
    /* margin-right: 50%; */
    /* margin-top: 6%; */
    margin: 5% auto;
    transition: all 1s ease;
    

}

.card-img:hover{
    transform: scale(1.1);
    
}

/* .card .cards{
    height: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;

} */

/* .card-deck .card {
    margin-right: 3%;
    margin-bottom: 0;
    margin-left: 0;
    height: 1%;
} */

.card-deck .card {
    /* margin-right: 5%;
    margin-bottom: 3%;
    margin-left: 10%;
    height: 0%; */
    margin: 2%;
    /* box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.45); */

}

/* .card-deck{
    margin-right: 0;
} */

.card-title{
    text-align: center;
    color: purple;
    font-size: x-large;
    font-family: 'Baloo Tamma 2', cursive;
    margin-top: -10%;
    transition: all 1s ease;

    
}

.card-text{
    text-align: center;
    font-size: medium;
    font-size: large;
    font-family: 'Baloo Tamma 2', cursive;
    transition: all 1s ease;

}

.card-text1{
    text-align: center;
    color: purple;
    font-size: large;
    font-family: 'Baloo Tamma 2', cursive;
    margin-top: -2%;
    transition: all 1s ease;


}

.card-deck.cards1{
    /* margin-left: 10%; */
}

/* .card-deck .card{
    margin-left: 15%;
    margin-bottom: 3%;
} */

.card-deck {
    margin-right: 22%;
    margin-left: 23%;

}

.cards-cards{
    margin-right: 22%;
}

.cards-cards1{

}

.cards-cards{

}

.card-title .card-text .card-text1:hover{
    transform: scale(1.1);
}


/* ////////////// Big Sale //////// */


.bigsale-img{
    height: auto;
    width: 105%;
    margin-left: 35%;
    border: 1px solid black;
}

.row{
    margin-right: 0px;
    margin-left: 15px
}


.col-less{
    text-align: center;
    margin-left: 20%;
    margin-top: 5%;
}

.shop-now{
    font-size: 1.2vw;
    background-color:  rgb(88, 25, 146);
    border-radius: 0px;
    border-color: rgb(88, 25, 146);
}

.h3-less-in{
    font-size: 2.2vw;
    color: rgb(123, 40, 201);
}

.car-smith{
    color: rgb(102, 29, 170);
    font-weight: 550;
}

.big-sale-div{
    margin-top: 8%;
    /* margin-bottom: -5%; */
}

.big-sale-div{
    margin-top: 8%;
    /* margin-bottom: -5%; */
}

.bigsale{
    margin-bottom: 15%;
}


/* ////////////// Navigation ////////////// */

.promo-shoes{
    height: auto;
    width: 80%;
    margin-top: 5%;
    border-radius: 3px;
}

.nav-p{
    font-size: 1.19vw;
}

.p-promo{
    text-align: center;
    font-size: 1vw;
    margin-left: -20%;
    margin-top: 6%;
}

.p1-promo{
    text-align: center;
    font-size: 1vw;
    margin-left: -20%;
    margin-top: -7%;
}

.navigation-h5{
    font-size: 1.6vw;
    margin-top: 12%;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 8%;
}

.p-2-nav{
    margin-top: 35%;
}

.p-1-nav{
    margin-top: 11%;
}

.contact-info{
    font-size: 1vw;
    margin-left: 13%;
    margin-top: -12.5%;
}

.copyright{
    text-align: center;
    font-size: small;

}

.contact-icon{
    color: rgb(43, 18, 156);
}

.send{
    font-size: 1.1vw;
    background-color:  rgb(88, 25, 146);
    border-radius: 0px;
    border-color: rgb(88, 25, 146);
    margin-left: 75%;
    margin-top: -34.5%;
    height: 12.5%;
    
}

.btn-primary {
    padding-top: 2px;
}



/* //////////////// /   About Page   //////////////////// */

.h6-about-nav{
    margin-left: 7%;
}

.home-text{
    color: rgb(187, 17, 202);
}

.nav-div{
    margin-top: 1.6%;
}

.navbar{
    padding: 0.7rem 1rem;
}

.howstart-div{
    margin-top: 8%;
}

.h3-we-start{
    font-size: 2.1vw;
    margin-top: -18%;
    text-align: left;
    margin-bottom: 5%;
    font-family: 'Open Sans', sans-serif;

}

.p-we-start{
    /* margin-top: 5%; */
    font-size: 1.2vw;
    text-align: justify;
    color: rgb(82, 78, 78);

}

.how-we-img {
    height: auto;
    width: 115%;
    margin-left: 35%;
    border: 1px solid black;
}

.h1__- {
    color: purple;
    margin-left: 54%;
    margin-top: -5%;
}

.h1__team{
    text-align: center ;
    color: purple;
}

.h2-team{
    text-align: center;
    margin-bottom: 5%;
}

.team-img {
    width: 58%;
    border-radius: 50%;
    height: auto;
    margin-left: 22%;
    border: 1px solid white;
}

.h6-name{
    font-size: 1.2vw;
    text-align: center;
    margin-top: 2%;
    color: gray;
}

.h5-name{
    font-size: 1.6vw;
    text-align: center;
    margin-top: 8%;
    font-family: 'Baloo 2', cursive;

}

.p-name{
    font-size: 1.2vw;
    text-align: center;
    margin-top: 6%;
    color: rgb(82, 78, 78);
}

.shopAll-img{
    height: 3%;
    width: 3%;
}

.how-we-strt{
    margin-bottom: 12%;
}

/* //////////////// Shop All //////////// */

.range{
    width: 10%;
    margin-left: 2%;
}

.Categories-div{
    
}

/* /////////////////// Shop Alls /////////// */

.cate-div{
    border: 1px solid black;
    margin-right: 11%;
    margin-left: 11%;
    margin-top: 2%;
}

.cate-name-h6{
    font-size: 1.2vw;
    font-weight: 630;
    margin: 6%;
    margin-bottom: 9%;
}

.cate-name{
    font-size: 1.1vw;
    font-weight: 500;
    margin-left: 7%;
    color: rgb(62, 71, 158);
}

.cat-span1{
    margin-left: 63%;
}

.cat-span2{
    margin-left: 54%;
}

.cat-span3{
    margin-left: 53%;
}

.checkbox{
    margin-left: -1%;
}

.checkbox-name{
    font-size: 1.15vw;
    margin-left: 8%;
}

.cat-color{
    font-size: 1.1vw;
}

.dot-red{
    margin-left: 7%;
    height: 13px;
    width: 13px;
    background-color: #ad1818;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2%;

}

.dot-green{
    margin-left: 7%;
    height: 13px;
    width: 13px;
    background-color: rgb(11, 114, 11);
    border-radius: 50%;
    display: inline-block;
    margin-right: 2%;
}

.dot-blue{
    margin-left: 7%;
    height: 13px;
    width: 13px;
    background-color: rgb(29, 130, 170);
    border-radius: 50%;
    display: inline-block;
    margin-right: 2%;

}

.dot-purple{
    margin-left: 7%;
    height: 13px;
    width: 13px;
    background-color: rgb(105, 12, 105);
    border-radius: 50%;
    display: inline-block;
    margin-right: 2%;

}

.slider{
    width: 50%;
}

.MuiSlider-root{
    width: 80%;
}

.MuiSlider-root .MuiSlider-colorPrimary .slider{
    width: 80%;
}

.shopAllss-div{
    /* margin-top: -90%; */
}

.cate-col{
    margin-left: -7%;
}

.latest-btn{
    font-size: 1.15vw;
    background-color: rgb(216, 211, 211);
    border: none;
    width: 18%;
    border-radius: 2px;
    font-weight: 500;
    margin-left: 56%;
    padding: 9px 13px;
}

.ref-btn{
    font-size: 1.15vw;
    background-color: rgb(228, 222, 222);
    border: none;
    width: 18%;
    border-radius: 2px;
    font-weight: 500;
    margin-left: 2%;
}

.col-8{
    /* border: 1px solid black; */
    margin-top: .5%;
}

.shopall-h5{
    font-size: 1.5vw;
    margin-left: -6%;
    margin-top: 2%;
}

/* //////////// Cards //////////////// */

.card-main{
    margin-left: 0;
    margin-right: 0;
}

.card-cards{
    margin-left: 0;
    margin-right: 0;
    /* border: 1px solid black; */
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.45);
    border-radius: 0px;
}

.card-deck .card {
    margin-right: 3%;
    margin-bottom: 0;
    margin-left: 0;
    height: 1%;
}

.card-img{
    height: 50%;
    margin-bottom: 10%;
}

.card-h5{
    font-size: 2vw;
    margin-top: -5px;
    font-family: 'Source Sans Pro', sans-serif;
}

.card-p{
    font-size: 1.3vw;
    font-family: 'Source Sans Pro', sans-serif;

}

.card-p1{
    font-size: 1.2vw;
    margin-top: -4%;
    font-family: 'Source Sans Pro', sans-serif;
}

/* ////////////// CART //////////// */

.cart-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 15%;
}


.checkout{
    margin-left: auto;
}
.update-btn{
    font-size: 1.2vw;
    background-color: 	rgb(121, 113, 234);
    width: 45%;
    height: 22%;
    color: white;
    border: none;
    border-radius: 3px;
    font-family: 'Major-Mono-Display', monospace;
    margin-right: 2%;
}

.continue-btn{
    font-size: 1.2vw;
    background-color: white;
    width: 47%;
    height: 22%;
    color:  	rgb(120, 113, 230);
    border:  1px solid  	rgb(121, 113, 234);
    border-radius: 3px;
    font-family: 'Major-Mono-Display', monospace;
}

.apply-btn{
    font-size: 1.2vw;
    background-color: 	rgb(121, 113, 234);
    width: 120%;
    /* height: 29%; */
    color: white;
    border: none;
    border-radius: 0px;
    font-family: 'Major-Mono-Display', monospace;
    /* margin-right: 2%; */
    margin-left: -15%;
    /* margin-top: -50%; */
}

.checkout-btn{
    font-size: 1.2vw;
    background-color: 	rgb(121, 113, 234);
    width: 75%;
    height: 23%;
    color: white;
    border: none;
    border-radius: 3px;
    font-family: 'Major-Mono-Display', monospace;
    margin-left: 2%;    
}

.input{
    margin-right: 6%;
}

.enter-coupon{
    font-size: 1.2vw;
    margin-top: 5%;
    color: gray;
}

.span1-price{
    margin-left: 36%;
}

.span-price{
    margin-left: 43%;
}

.total{
    font-size: 1.4vw;
    font-family: 'Jaldi', sans-serif;
    margin-left: 4%;
}

.cart-total{
    font-size: 2vw;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

.quantity-btn1{
    background-color:  rgb(232, 232, 245);
    color: rgb(121, 113, 234);
    border: 1px solid rgb(121, 113, 234);
}

.quantity{
    background-color: white;
    color: rgb(121, 113, 234);
    border: 1px solid rgb(121, 113, 234);
}

.remove-btn{
    background-color: 	rgb(121, 113, 234);
    border: none;
    width: 30%;
    height: 23%;
    border-radius: 3px;
    color: white;
    font-size: small;
    font-family: 'Major-Mono-Display', monospace;

}

.table{
    margin-left: 12%;
    width: 75%;
}

.table td{
    vertical-align: middle;
}

.td-0 , .td-1 , .td-2, .td-3, .td-4, .td-5, .td-6{
    width: 15%;
    font-family: 'Roboto Mono', 'monospace'
}